@media screen and (min-width: 768px) {

  .mobile{
    display: none;
  }
  #carousel {
      display: block;
  }
  #carousel-mobile {
      display: none;
  }
  .bottom-box {
    border-radius: 0 10px 10px 0px;
    margin-left: -10px;
  }
}
@media screen and (max-width: 767px) {
  .desktop{
    display: none !important;
  }
  .carousel-inner-mobile .flyerWrap>img{
        width: 320px !important;
    height: 395px !important;
  }
  .carousel.home {
    /*height: 376px;*/
    height: inherit;
    width: 100%;
    border-top: 2px solid rgba(195,195,195,0.9);
    }
    header .shopcart {
        position: absolute;
        top: 35px;
        right: 30px;
    }
    header .logo {
        max-width: 140px;
        margin: 10px auto;
    }
    img.menu-toggle {
        cursor: pointer;
        position: absolute;
        padding: 22px;
    }
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
      color: black;
      font-size: 30px;
    }
    .main-nav{
      transition: all 200ms linear;
    }
    .main-nav.closed{
      margin-left: -100%;
    }
    .main-menu li {
        display: block;
        margin: 0;
        padding: 10px;
        font-size: 20px;
      }
    .main-menu li a {
        text-align: center;
      }

    nav.mobile {
        margin-top: 92px;
        position: absolute;
        width: 100%;
        z-index: 100;
    }

    nav ul {
      min-height: 100vh;
    }

    .home-categories > div:last-of-type {
      margin-bottom: 0px;
    }

    .home-thumbnail-grid {
      padding-left: 0;
      padding-right: 0;
    }

    .home-thumbnail-desc {
      margin-bottom: 10px;
    }

    /*Flyer*/
    .currentFlyerHeadingsContainer {
      margin-left: 0px;
    }

    /*Inside Store*/
    .inside-store-container .inside-store-item-container {
      margin-bottom: 30px !important;
    }

    .inside-store-container .inside-store-item-container .inside-store-item {
      margin-top: 0;
    }

    .details-thumbnail {
      max-width: 100%;
    }

    @-moz-document url-prefix() {
      .details-thumbnail {
        max-width: calc(100vw - 58px);
      }
    }

    /*Country Kitchen*/
    .originals-feature {
      margin-bottom: 0 !important;
      /*padding-left: 0;*/
      width: calc(100% - 15px);
    }

    .bottom-box {
      border-radius: 0 0 10px 10px;
      height: 140px !important;
      margin-left: 15px;
      width: calc(100% - 30px);
    }

    /*Platter*/
    .platters-heading {
      margin-bottom: 0px !important;
    }

    .platter .image {
        max-width: 100%;
        max-height: 100%;
        text-align: center;
        height: auto;
    }
    .platter .image img{
        max-width: 200px;
        max-height: 200px;
        text-align: center;
        height: 200px;
    }

    #chooseFlyer .modal-dialog .col-sm-3 {
        width: 20%;
    }
    #chooseFlyer .modal-dialog .col-sm-9 {
        width: 80%;
    }

    /*Visit Us*/
    .visit-us-form-field {
      margin-bottom: 10px !important;
    }
  .responsive > img {
    max-width: 100%;
    }
    /*Footer*/
    footer {
      margin-top: 40px;
    }

    footer ul li {
      float: none;
      margin-right: 0;
      padding: 10px 0 10px 0;
    }

    footer ul li a {
      text-align: center;
    }

    footer p {
      text-align: center;
    }

    form input[type="text"], form input[type="email"] {
      width: 97%; 
    }
}
