html, body {
	height: 100%;
}

.box.rounded {
	border-radius: 30px 30px 0 0;
}

.box.orange {
	padding-top: 30px;
	color: white;
}

.green {
	background-color: #00a64f;
}

.orange {
	background: #f99d1c;
}

.circle {
	text-align: center;
}

.circle h4 {
	color: white;
	font-family: 'HelveticaNeueLT-Bold';
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-bottom: 0;
}

.landing-2 .row {
	padding: 20px;
}

.landing-2 .row:first-child {
	margin-top: -40px;
}

.social-blurb {
	float:right;
	padding-right: 20px;
	font-family: 'HelveticaNeueLT-Roman';
}

.social-blurb .orange-text {
	font-family: 'HelveticaNeueLT-Bold';
}

.social-blurb.mobile .breakpoint {
	display: none;
}

.event-social-icons {
	float: right;
	padding-right: 15px;
}

.event-social-icons a {
  height: 32px;
  width: 32px;
  background-size: cover;
  display: inline-block;
}

.countdown h1 {
  font-size: 46px;
  margin-bottom: 0;
}

.countdown .title {
	color: #00a64f;
}

.countdown .numbercontainer {
	float: right;
}

.countdown .smalltext {
  font-size: 12px;
  text-align: left;
  color: #00a64f;
  font-family: 'HelveticaNeueLT-Bold';
  margin-top: -5px;
  margin-bottom: 10px;
}

.intro div:first-child {
	padding-top: 50px;
}

.intro h1 {
	font-size: 89px; 
	margin-bottom: 30px;
}

.intro span {
	font-size: 47px;
}

.intro span .breakpoint {
	display: none;
}

.offer .row {
	padding: 40px 0 0 40px;
}

.offer .row.details {
	padding: 0px 0 0 40px;
}

.offer h4 {
	font-size: 90px;
	font-family: 'HelveticaNeueLT-Bold';
	margin-bottom: 0;
}

.offer h3 {
	font-size: 29px;
	padding-left: 5px;
}

.offer .circle.green {
	height: 300px; 
	width: 300px; 
	border-radius: 150px; 
	margin-left: -80px; 
}

.calendar h3 {
	font-size: 40px;
}

.calendar a {
	margin-top: 100px; 
	float: left;
	margin-top: 45px;
}

.store h1 {
	margin-top: 30px;
	color: #00a64f;
	font-size: 100px;
}

.row.store-image {
	padding: 0; 
}

.store-caption {
	color:white; 
	margin-left: 70px;
	margin-top: -260px;
	font-size: 32px;
	font-family: 'SerifaBT-Light';
	line-height: 1; 
}

.store-image .circle {
	margin-right: -30px;
	margin-top: -90%;
	float: right;
	height: 200px;
	width: 200px;
	border-radius: 100px;
}

.store-image .circle h4 {
	font-size: 36px;
}

.deli-header .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.deli-header .col-md-6:first-child {
	padding-right: 10px;
}

.deli-header .col-md-6:last-child {
	padding-left: 10px;
}

.landing-3 {
	margin-top: 30px;
}

.deli h1, .prepared h1 {
	color: #f99d1c;
	font-size: 100px;
}

.deli p, .produce p, .prepared p, .aisle p, .flyer-deals p {
	color:black;
	font-size: 20px;
	font-family: 'SerifaBT-Light';
}

.produce, .organic, .country-kitchen-header, .aisle {padding-top:70px;}

.produce h1, .aisle h1 {
	margin-top: 30px;
	color: #00a64f;
	font-size: 96px;
}

.produce .circle.green {
	float: right; 
	height: 200px;
	width: 200px;
	border-radius: 100px; 
	margin-right: -40px;
	margin-top: -65%
}

.produce .circle.green h4 {
	font-size: 36px;
	margin-top: 10px;
}

.produce .circle.green h4 span:first-child {
	font-size: 42px;
}

.produce .circle.green h4 span:last-child {
	font-size: 20px;
	position: relative;
	top: -10px;
}

.organic .col-md-6 .row {
	padding-left: 30px;
}
.organic h1 {
	font-size: 100px;
}

.organic p {
	font-size: 20px;
	font-family: 'SerifaBT-Light';
}

.aisle h1 {padding-top: 50px;}

.aisle hr {
	margin-top: 60px;
	margin-bottom: 60px;
	border-color: #00a64f;;
}

.flyer-deals h1 {
	color: #f99d1c;
	font-size: 54px;
	font-family: 'HelveticaNeueLT-Bold'
}
.vaughan-subscribe {
  width: 720px;
  height: 70px;
  padding: 0;
  margin: 0 auto; 
  float: none; 
}

.vaughan-subscribe .email {
  width: 90% !important;
  color: black;
}

.vaughan-subscribe .subscribe-email {
  background-color: #f99d1c !important;
}

.vaughan-subscribe-2.mobile {
	width: 100%;
	padding: 0;
	float: none;
}

.vaughan-subscribe-2.mobile .subscribe-email {
	display: block;
	margin: auto;
}

.landing .email {
	width: 580px !important;
	margin: 0 auto;
	width: 90%;
}

.landing .subscribe-email {
	margin-top: 10px;
	margin-right: 0;
}

.scroll {
	padding-top: 30px;
}

.scroll img {
	margin: auto;
	display: block;
	cursor: pointer;
}

.store-image img, .deli-header img, .produce img, .organic img, .country-kitchen-header img, .aisle img {
	width: 100%;
	height: 100% !important;
	max-width: 100%;
	max-height: 100%;
}

.store-image img {
	z-index:0.5
}

@media screen and (max-width: 991px) {
	.title {
		width: 66%;
		display: inline-block;
		position:relative;
		top: -35px;
	}
	#clockdiv {
		width: 33%;
		display: inline-block;
	}
	.countdown h1 {
  		font-size: 42px;
  	}
  	.row.countdown {
  		padding-bottom:0px;
  	}
	.offer .circle.green {
	margin-left: -40px; 
	}
	.offer .col-md-9 {
		right: 20px;
	}
	.store-image .circle {
		margin-right: 0px;
	}
	.produce .circle.green {
		margin-right: 0px;
	}
	.deli-header .col-md-6:first-child {
		padding-right: 0;
	}

	.deli-header .col-md-6:last-child {
		padding-left: 0;
	}
  	.offer .col-md-2, .offer .col-md-9, .calendar .col-md-4, .calendar .col-md-8 {
  		display: inline-block;
  	}
  	.offer .col-md-9 {
  		float: right;
  		right: 30px;
  	}
  	.offer .col-xs-6 {
  		width: 300px;
  	}
  	.calendar .col-md-8 {
  		width: 65%;
  	}
  	.calendar .col-md-4 {
  		float: right;
  		right: 55px;
  	}
  	.deli h1, .deli p, .produce h1, .produce p, .landing-4 h1, .landing-4 p {
  		padding: 0 30px 0 30px;
  	}
  	.aisle h1 {
  		padding-top: 50px;
  	}
  	.produce h1 {
  		font-size: 90px;
  	}
  	.organic h1, .organic p {
  		padding-right: 30px;
  	}
  	.organic .col-md-6:nth-child(2) {
  		padding-top: 50px;
  	}
  	.landing-4 {
  		margin-top: 30px;
  		padding-top: 0;
  	}
  	.flyer-deals h1 {
		font-size: 51px;
	}
	.aisle .breakpoint {
		display: none;
	}
	.vaughan-subscribe-2.desktop {
	margin-left: 16.66667%;
	}
}

@media screen and (max-width: 945px) {
	.intro .col-sm-12 {
		padding-left: 40px;
		padding-right: 40px;
	}
	.offer .circle.green {
		margin-left: -20px;
	}
	.offer .col-md-9 {
  		right: 0px;
  	}
	.offer .col-xs-6 {
  		width: 290px;
  	}
	.offer h4 {
  		font-size: 80px;
  	}
  	.offer h3 {
  		font-size: 24px;
  	}
  	.calendar .col-md-8 {
  		padding-left: 40px;
  	}
  	.calendar .col-md-4 {
  		right: 40px;
  	}
  	.calendar h3 {
  		font-size: 36px;
  	}
	.store .col-md-12, .deli h1, .deli p, .produce h1, .produce p, .landing-4 h1, .landing-4 p {
  		padding: 0 40px 0 40px;
  	}
	.intro h1 {
		font-size: 84px;
	}
	.intro span {
		font-size: 42px;
	}
	.produce h1 {
		font-size: 88px;
	}
	.flyer-deals h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 935px) {
	.intro h1 {
		font-size: 80px;
	}
	.offer .col-xs-6 {
  		width: 270px;
  	}
}

@media screen and (max-width: 895px) {
	.intro h1 {
		font-size: 76px;
	}
	.intro span {
		font-size: 40px;
	}
	.offer .circle.green {
		height: 280px; 
		width: 280px; 
		border-radius: 140px; 
		margin-left: -20px; 
	}
}

@media screen and (max-width: 880px) {
	.countdown h1 {
  		font-size: 40px;
  	}
  	.countdown .smalltext {
  		font-size: 11px;
  	}
	.intro h1 {
		font-size: 76px;
	}
	.intro span {
		font-size: 40px;
	}
}

@media screen and (max-width: 865px) {
	.intro h1 {
		font-size: 70px;
	}
	.intro span {
		font-size: 36px;
	}
	.offer .circle.green {
		height: 240px; 
		width: 240px; 
		border-radius: 120px; 
		margin-left: 0px; 
	}
	.offer h4 {
  		font-size: 76px;
  	}
  	.offer h3 {
  		font-size: 22px;
  		padding-left: 2px;
  	}
	.calendar h3 {
  		font-size: 32px;
  	}
	.prepared h1 {
		font-size: 90px;
	}
}

@media screen and (max-width: 845px) {
	.offer .circle.green {
		height: 200px; 
		width: 200px; 
		border-radius: 100px; 
		margin-left: 0px; 
	}
	.offer h4 {
  		font-size: 70px;
  	}
  	.offer h3 {
  		font-size: 20px;
  	}
	.organic h1 {
		font-size: 90px;
	}
}

@media screen and (max-width: 805px) {
	.intro h1 {
		font-size: 64px;
	}
	.intro span {
		font-size: 34px;
	}
	.offer .col-md-9 {
		right: 30px;
	}
	.offer .row {
		padding: 20px 0 0 0;
	}
	.offer .row.details {
		padding: 0;
	}
	.offer .col-xs-6 {
  		width: 240px;
  	}
  	.calendar .col-md-4 {
  		right: 10px;
  	}
  	.calendar h3 {
  		font-size: 30px;
  	}
	.prepared h1 {
		font-size: 82px;
	}
}

@media screen and (max-width: 768px) {
	.social-blurb .breakpoint {
		display: none;
	}
	.row > .social-blurb.desktop {
		position: relative;
		top:-30px;
	}
	.landing-2 .row:first-child {
		margin: 0;
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    padding-top: 50px;
	    width: 100%;
	}
	.row > .social-blurb {
		float: none;
		display: inline-block;
		margin-bottom: 0;
		padding: 0;
		padding-bottom: 5px;
		text-align: center;
		width: 100%;
	}
	.row > .event-social-icons {
		float: none;
		display: inline-block;
		margin-bottom: 0;
		padding: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}
	.row.countdown {
		padding-top: 120px;
	}
	.countdown div {
		margin-top: 30px;
		margin-bottom: 0;
	}
	.intro .col-sm-12 {
		padding-left: 20px;
		padding-right: 20px;
	}
	#clockdiv {
		float: right;
		width: 40%;
	}
	.title {
		top: -15px;
		width: 60%;
	}
	.intro h1 {
		font-size: 56px;
		margin-bottom: 0;
	}
	.intro div:first-child {
		margin-bottom: 0;
	}
	.intro span {
		font-size: 29px;
	}
	.offer .circle.green {
		margin-left: -20px; 
		margin-bottom: 0;
	}
	.offer .col-md-9 {
		right: 0;
		margin-bottom: 10px;
	}
	.offer .row:first-child {
		top: -20px;
	}
	.offer .details {
		top: 100px;
	}
	.offer h4 {
		font-size: 64px;
	}
	.offer h3 {
		font-size: 18px;
	}
	.offer .col-xs-6 {
  		width: 200px;
  		margin-bottom: 0;
  	}
  	.calendar h3 {
  		font-size: 24px;
  	}
  	.calendar .col-md-8 {
  		padding-left: 20px;
  		width: 360px;
  	}
  	.calendar .col-md-4 {
  		right: -5px;
  		margin-top: -25px;
  	}
  	.store .col-md-12, .deli h1, .deli p, .produce h1, .produce p, .landing-4 h1, .landing-4 p {
  		padding: 0 20px 0 20px;
  	}
  	.vaughan-subscribe-2.desktop {
  		width: 100%;
  	}
	.store-caption {
		margin-left: 50px;
		margin-top: -220px;
		font-size: 28px;
	}
	.store h1 {
		font-size: 88px;
	}
	.deli h1 {
		font-size: 90px;
	}
	.landing-3 {
		margin-top: 0;
	}
	.organic h1 {
		font-size: 76px;
	}
	.organic .col-md-6:nth-child(2) {
		padding-top: 30px;
	}
	.country-kitchen-header {
		padding-top: 30px;
	}
	.prepared h1 {
		font-size: 76px;
		padding-top: 0;
	}
	.organic .col-md-6:first-child {
		margin-bottom: 0;
	}
	.vaughan-subscribe-2.desktop {
		margin-left: 0;
	}
}

@media screen and (max-width: 735px) {
	.intro h1 {
		font-size: 54px;
		margin-bottom: 0;
	}
	.intro span {
		font-size: 26px;
	}
	.offer h4 {
		font-size: 50px;
	}
	.offer h3 {
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	.offer .row:first-child {
		top: -30px;
	}
	.offer .details {
		top: 70px;
	}
	.offer .col-xs-6 {
		width: 180px;
	}
	.offer .col-md-9 {
		top: 30px;
	}
	.calendar .col-md-8 {
		width: 320px;
	}
	.calendar h3 {
		font-size: 20px;
		letter-spacing: 0.5spx;
	}
	.organic h1 {
		font-size: 70px;
	}
	.prepared h1 {
		font-size: 70px;
	}
	.aisle h1 {
		font-size: 90px;
	}
}

@media screen and (max-width: 690px) {
	.intro h1 {
		font-size: 50px;
	}
	.offer .col-md-9 {
		margin-top: -10px;
		top: 0px;
		margin-bottom: 0;
	}
	.calendar {
		margin-top: -100px;
	}
	.calendar .col-md-8 {
		right: 24px;
		float: right;
		width: 340px;
	}
	.calendar .col-md-4 a{
		margin-top: 10px;
	}
	.calendar h3 {
		font-size: 18px;
	}
	.store-image .circle {
		margin-top: -95%;
	}
	.store-caption {
		margin-left: 40px;
		margin-top: -200px;
		font-size: 24px;
	}
	.store-caption span {
		letter-spacing: 0.5px;
	}
	.store h1, .deli h1 {
		font-size: 80px;
	}
	.organic h1 {
		font-size: 66px;
	}
	.prepared h1 {
		font-size: 66px;
	}
}

@media screen and (max-width: 652px) {

	.aisle h1 {
		font-size: 82px;
	}
}

@media screen and (max-width: 648px) {
	.title {
		width: 100%;
	}
	#clockdiv {
		margin-top: 0;
		width: auto;
		float: left;
	}
	.countdown div.numbercontainer {
		margin-top: 0;
	}
	.offer .circle.green {
		height: 200px; 
		width: 200px; 
		border-radius: 100px; 
		margin-left: -30px; 
	}
	.calendar .col-md-8 {
		margin-top:-10px;
	}
	.offer .col-xs-6 {
		padding-right: 0;
	}
	.offer h4 {
		font-size: 48px;
	}
	.produce .circle.green {
		float: right; 
		height: 180px;
		width: 180px;
		border-radius: 90px; 
	}
	.produce .circle.green h4 {
		font-size: 32px;
		margin-top: 10px;
	}
	.produce .circle.green h4 span:first-child {
		font-size: 37px;
	}
	.produce .circle.green h4 span:last-child {
		font-size: 18px;
		position: relative;
	}
	.organic h1 {
		font-size: 60px;
	}
	.calendar .breakpoint {
		display: none;
	}
}

@media screen and (max-width: 635px) {
	.intro h1 {
		font-size: 48px;
		margin-bottom: 0;
	}
	.intro span {
		font-size: 25px;
	}
	.offer .col-xs-6 {
		width: 160px;
	}
	.calendar .col-md-8 {
		width: 300px;
	}
	.produce h1 {
		font-size: 80px;
	}
	.prepared h1 {
		font-size: 60px;
	}
}

@media screen and (max-width: 633px) {
	#clockdiv {
		margin-top: -10px;
	}
}

@media screen and (max-width: 612px) {
	.intro h1 {
		font-size: 47px;
	}
	.intro span {
		font-size: 24px;
	}
	.store-image .circle {
		margin-top: -98%;
	}
	.store h1, .deli h1 {
		font-size: 70px;
	}
	.row.produce {
		padding-top: 30px;
	}
	.produce .circle.green {
		float: right; 
		height: 140px;
		width: 140px;
		border-radius: 70px; 
	}
	.produce .circle.green h4 {
		font-size: 26px;
		margin-top: 10px;
	}
	.produce .circle.green h4 span:first-child {
		font-size: 30px;
	}
	.produce .circle.green h4 span:last-child {
		font-size: 15px;
		position: relative;
	}
}

@media screen and (max-width: 596px) {
	.title {
		padding: 0;
	}
	#clockdiv {
		padding: 0;
	}
	.intro div:first-child {
		padding: 30px 0 0 0;
	}
	.intro h1 {
		font-size: 46px;
		margin-bottom: 0;
	}
	.intro span {
		font-size: 24px;
	}
	.offer .col-md-9 {
		right: -5px;
		padding: 0;
	}
	.offer .row:first-child {
		margin-left: -15px;
		margin-right: -15px;
	}
	.offer .row:first-child .col-xs-6:last-child {
		top: -51px;
		left: 160px;
	}
	.calendar .col-md-8 {
		right: -15px;
		padding: 0;
	}
	.offer .circle.green {
		margin-left: -50px; 
	}
	.store .col-md-12 {
		padding: 0;
	}
	.store-caption {
		margin-left: 30px;
		margin-top: -160px;
		font-size: 20px;
	}
	.produce h1 {
		font-size: 76px;
	}
	.organic h1 {
		font-size: 54px;
	}
	.prepared h1 {
		font-size: 54px;
	}
	.aisle h1 {
		font-size: 75px;
	}
	.flyer-deals h1 {
		font-size: 48px;
	}
}

@media screen and (max-width: 545px) {
	.intro h1 {
		font-size: 40px;
	}
	.intro span {
		font-size: 21px;
	}
	.offer .circle.green {
		height: 180px; 
		width: 180px; 
		border-radius: 90px; 
		margin-left: -40px; 
	}
	.offer .col-md-9 {
		margin-top: -20px;
	}
	.store-image .circle {
		margin-top: -102%;
	}
	.store h1, .deli h1 {
		font-size: 62px;
	}
	.produce h1 {
		font-size: 70px;
	}
	.organic {
		padding-top: 30px;
	}
	.organic h1 {
		font-size: 48px;
	}
	.aisle h1 {
		font-size: 70px;
	}
	.flyer-deals h1 {
		font-size: 46px;
	}
}

@media screen and (max-width: 520px) {
	.offer .circle.green {
		height: 160px; 
		width: 160px; 
		border-radius: 80px; 
		margin-left: -50px; 
	}
	.offer .circle.green {
		margin-top: -10px;
	}
	.offer .col-md-9 {
		top: -20px;
	}
	.calendar {
		margin-top: -80px;
	}
	.store-image .circle {
		margin-top: -105%;
	}
	.produce h1 {
		font-size: 66px;
	}
	.prepared h1 {
		font-size: 46px;
	}
	.aisle h1 {
		font-size: 66px;
	}
	.flyer-deals h1 {
		font-size: 44px;
	}
}

@media screen and (max-width: 486px) {
	.intro h1 {
		font-size: 38px;
		margin-bottom: 0;
	}
	.intro span {
		font-size: 20px;
	}
	.offer .circle.green {
		height: 140px; 
		width: 140px; 
		border-radius: 70px; 
	}
	.offer .circle.green h4 {
		font-size: 40px;
	}
	.calendar {
		margin-top: -70px;
	}
	.store-image .circle {
		height: 180px;
		width: 180px;
		border-radius: 90px;
	}

	.store-image .circle h4 {
		font-size: 32px;
	}
	.store h1, .deli h1 {
		font-size: 60px;
	}
	.produce h1, .aisle h1 {
		font-size: 60px;
	}
	.organic h1 {
		font-size: 44px;
	}
	.flyer-deals h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 463px) {
	.intro span .breakpoint {
		display: inline;
	}
	.offer .col-md-9 .row:first-child {
		margin-top:0px;
	}
	.offer .col-xs-6 {
		width: 140px;
		right: 20px;
	}
	.offer .breakpoint {
		display: none;
	}
	.offer .row h4 {
		font-size: 46px;
	}
	.offer .row:first-child .col-xs-6:last-child {
		left: 120px;
	}
	.calendar .col-md-8 {
		top: 10px;
		width: 278px;
	}
	.store-caption {
		margin-left: 20px;
		margin-top: -150px;
	}
	.store-caption span {
		letter-spacing: 1px;
	}
	.store h1, .deli h1 {
		font-size: 54px;
	}
}

@media screen and (max-width: 450px) {
	.intro h1 {
		font-size: 36px;
		letter-spacing: 0.5px;
	}
	.intro .breakpoint {
		display: none;
	}
	.landing-2 .row.offer {
		padding: 0 0 20px 0;
	}
	.offer .circle.green {
		display: block;
		margin: 0;
		border-radius: 0;
		width: 100%;
		height: 50px;
	}
	.offer .circle h4 {
		padding-top: 5px;
	}
	.offer .col-md-9 {
		padding-left: 20px;
		margin-top: 20px;
		width: auto;
		float: left;
	}
	.offer .row:first-child {
		width: 100%;
		margin: 0;
		margin-left: 19px;
	}
	.offer .row:first-child .col-xs-6:last-child {
		left: -21px;
		top: 0;
	}
	.offer .details {
		width: 100%;
		margin: 0;
	}
	.offer .col-xs-6 {
		width: 170px;
	}
	.offer .col-xs-6 h3 {
		padding-left: 0;
	}
	.calendar .col-md-8 {
		margin-top: 50px;
		float: left;
		right: 0;
	}
	.calendar .col-md-4 {
		width: 100%;
		float: none;
		margin: auto;
		display: block;
		right: 0;
		padding: 0;
	}
	.calendar .col-md-4 a {
		margin: auto;
	}
	.store-caption {
		margin-left: 10px;
		margin-top: -140px;
	}
	.store-image .circle {
		height: 150px;
		width: 150px;
		border-radius: 75px;
	}
	.store-image .circle h4 {
		font-size: 30px;
	}
	.store h1, .deli h1 {
		font-size: 44px;
	}
	.produce h1, .aisle h1 {
		font-size: 48px;
	}
	.organic h1 {
		font-size: 40px;
	}
	.flyer-deals h1 {
		font-size: 36px;
	}
}

@media screen and (max-width: 395px) {
	.offer .col-xs-6 {
		width: 160px;
	}

@media screen and (max-width: 375px) {
	.intro span {
		font-size: 19px;
	}
	.offer .col-xs-6 {
		width: 150px;
	}
}

@media screen and (max-width: 350px) {
	.social-blurb.mobile .breakpoint {
		display: inline;
	}
	.row.countdown {
		padding-top: 140px;
	}
	.title h1 {
		font-size: 36px;
	}
	.intro h1 {
		font-size: 26px;
		margin-bottom: 0;
	}
	.intro span {
		font-size: 18px;
	}
	.offer .col-xs-6 {
		width: 145px;
	}
	.offer h4 {
		font-size: 40px;
	}
	.offer h3 {
		font-size: 13px;
	}
	.store-caption {
		margin-left: 0px;
		margin-top: -120px;
		font-size: 18px;
	}
	.store-image .circle {
		height: 140px;
		width: 140px;
		border-radius: 70px;
	}
	.store-image .circle h4 {
		font-size: 28px;
	}
	.store h1, .deli h1 {
		font-size: 40px;
	}
	.produce h1, .aisle h1 {
		font-size: 40px;
	}
	.flyer-deals h1 {
		font-size: 28px;
	}
}

@media screen and (max-width: 340px) {
	.offer .col-xs-6 {
		width: 140px;
	}
}

@media screen and (max-width: 330px) {
	.offer .col-xs-6 {
		width: 135px;
	}
}