#	this script is meant to be run on kermit, in order to keep REPO files up to date
sync.sh

logz/

#	don't track anything in the media dir except source code
htdocs/prod/web/media/*
!htdocs/prod/web/media/flyers
htdocs/prod/web/media/flyers/*
!htdocs/prod/web/media/flyers/resizer.php

#	dumps
db/*
/nbproject/private/
nbproject/

#	editor
*.sublime-*

#	mac temp file
.DS_Store
