		  <div class="bottombanner" style="float:left;margin-bottom: 25px;">
        <div class="bottomitem"> 
          <div align="center"><a href="index.php?n=Main&o=stores" target="_self"><img src="images/home_visit.jpg" alt="Visit Highland Farms" width="125" height="105" border="0" ></a></div>
          <div class="greentitle14" style="float:left; margin-left:20px;">
            <div align="center">Visit Highland Farms</div>
          </div>
         <div class="bottomitemtxt">find your nearest location</div>
          <div  style="float:right; padding-right:10px; padding-top:24px;"><a href="index.php?n=Main&o=stores"><img src="images/arrow_right_up.gif" alt="See the Party Trays" name="arrgiftcard21" width="13" height="13" border="0" id="arrgiftcard21" onmouseover="MM_swapImage('arrpartyplatter','','images/arrow_right_over.gif','arrgiftcard21','','images/arrow_right_over.gif',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        </div>
          <!-- -->
        <div class="bottomitem">
          <div align="center"><a href="index.php?n=Main&o=template&id=giftcard" target="_self"><img src="images/giftcard_105.jpg" alt="Get your gift card today!" width="105" height="105" border="0" /></a></div>
    <div class="greentitle14" style="float:left; margin-left:10px;">
              <div align="center">Pick up a gift card today!</div>
            </div>
            <div class="bottomitemtxt" style="margin-left:10px; width:145px;"> A great gift idea for all seasons and occasions. </div>
          <div  style="float:right; padding-right:10px; padding-top:24px;"><a href="index.php?n=Main&o=template&id=giftcard" target="_self"><img src="images/arrow_right_up.gif" alt="See the Party Trays" name="arrgiftcard" width="13" height="13" border="0" id="arrgiftcard" onmouseover="MM_swapImage('arrpartyplatter','','images/arrow_right_over.gif','arrgiftcard','','images/arrow_right_over.gif',1)" onmouseout="MM_swapImgRestore()" /></a></div>
</div>
 <div class="bottomitem" id="rexallbottomitem">
            <div align="center"><a href="index.php?n=Main&o=prodcat" target="_self"><img src="images/insidestore.png" alt="Inside the store" border="0" /></a></div>
    <div class="greentitle14" style="float:left; margin-left:25px;padding-top: 11px">
              <div align="center">Inside the store</div>
            </div>
            <div class="bottomitemtxt" style="float:left; margin-left:25px;padding-top: 0px">Explore our stores selection<br />
            </div>
            <div  style="float:right; padding-right:15px; padding-top:0px;"><a href="index.php?n=Main&o=prodcat" target="_self"><img border="0" src="images/arrow_right_up.gif" name="arrrex" width="13" height="13" border="0" id="arrrex" onmouseover="MM_swapImage('arrpartyplatter','','images/arrow_right_over.gif','arrrex','','images/arrow_right_over.gif',1)" onmouseout="MM_swapImgRestore()" /></a></div>
			</div>
		<div class="bottomitem">
            <div align="center"><a href="index.php?n=Main&o=template&id=contact" target="_self"><img src="images/qmark.jpg" alt="Get your gift card today!" width="100" height="105" border="0" /></a></div>
            <div class="greentitle14" style="float:left; margin-left:10px;">
              <div align="center">Questions? Comments?</div>
            </div>
            <div class="bottomitemtxt" style="float:left; margin-left:10px;">We'd love to hear<br />
              from you
            .</div>
            <div  style="float:right; padding-right:19px; padding-top:24px;"><a href="index.php?n=Main&o=template&id=contact" target="_self"><img border="0" src="images/arrow_right_up.gif" alt="See the Party Trays" name="arrgiftcard22" width="13" height="13" border="0" id="arrgiftcard22" onmouseover="MM_swapImage('arrpartyplatter','','images/arrow_right_over.gif','arrgiftcard22','','images/arrow_right_over.gif',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        </div>

		<div class="bottomitem" style="position: absolute; right: -185px;border-right: 0px;">
            <div align="center"><a href="#" onclick="message2('<img src=images/popup-bag.jpg>'); return false;"><img src="images/hf-bag.png" alt="Highland Farms Bag" width="100" height="105" border="0" /></a></div>
            <div class="greentitle14" style="float:left; margin-left:10px;">
              <div align="center">Highland Farms BAG</div>
            </div>
            <div class="bottomitemtxt" style="float:left; margin-left:10px;">Do your part to reduce and reuse
            .</div>
            <div  style="float:right; padding-right:19px; padding-top:24px;"><a href="#" onclick="message2('<img src=images/popup-bag.jpg>'); return false;"><img border="0" src="images/arrow_right_up.gif" alt="See the Party Trays" name="arrgiftcard22" width="13" height="13" border="0" id="arrgiftcard22" onmouseover="MM_swapImage('arrpartyplatter','','images/arrow_right_over.gif','arrgiftcard22','','images/arrow_right_over.gif',1)" onmouseout="MM_swapImgRestore()" /></a></div>
        </div>
		

	  </div>