html {margin: 0px; padding: 0px; width: 100%; height: 100%;}
body {margin: 0px; padding: 0px; width: 100%; height: 100%; font-family: Arial; font-size: 12px;}
img {border: 0px;}
a.button {display: block; padding: 7px 0px 7px 0px; border-top: 1px solid #6bc95b; width: 100%; color: #029e4b; text-align: left; font-size: 14px; font-weight: bold; text-decoration: none;}
a.button:hover {background-color: #029e4b; color: #fff;}
div.content-area {display: none;text-align: left; background-color: #f2f2f2}
span {display: block;width: 100%; color: #029e4b; text-align: left;}

div.footer {width: 100%; background-color: #fff; padding: 8px 0px 5px; text-align: center}
div.footer2 {width: 100%; background-color: #029e4b; padding: 3px 0px; text-align: center; color: #fff; font-size: 10px;}
div.footer a { color: #029e4b; font-size: 12px;text-decoration: none;}
a.orange-button {display: block; padding: 3px 0px 3px 0px; background-color: #f78f1e; color: #fff; width: 80px; text-align: center; font-size: 13px; font-weight: normal; text-decoration: none;}

a.button2 {display: block; padding: 4px 0px 4px 0px; border-top: 1px solid #6bc95b; color: #444; background-color: #f2f2f2; text-align: left; font-size: 14px; font-weight: bold; text-decoration: none;
/*
background-image: url(../images/arrow-down.jpg); background-repeat: no-repeat; background-position: 15px 6px;
*/
padding-left: 20px}
div.content-area2 {padding: 10px 0px 10px 38px; display: none; background-color: #fafafa; line-height: 150%;}
div.hr {width: 100%; border-top:  1px solid #6bc95b; font-size: 1px; margin-top: 15px; height: 1px; margin-bottom: 14px; clear: both;}

table.flyer {}
table.flyer td {color: #029e4b}

a.button3 {display: block; padding: 14px 0px 7px 0px; border-top: 1px solid #6bc95b; width: 100%; color: #fff; background-color: #029e4b; text-align: left; font-size: 13px; font-weight: bold; text-decoration: none;}
a.button3:hover {background-color: #029e4b; color: #fff;}


.or-link a {
	display: block;
	width:100px;
	padding:3px;
	color: #fff;
	background-color:#ed7b20;
	font-size:10px;
	text-align:center;
	text-decoration: none;
}
.or-link a:hover {
	display: block;
	width:100px;
	padding:3px;
	color: #fff;
	background-color:#1da12d;
	font-size:10px;
	text-align:center;
}
