body {	margin: 0 auto;	padding: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; background-color:#ffffff; text-align: left;}


	a:link, a:visited{
		color:#666666;
		text-decoration: none;
	}

	a:hover{
		color:#333333;
		text-decoration: underline;
	}

.rss_body { padding: 30px; width: 720px; text-align: left;}
.rss_title { font-weight: bold; padding: 2px 5px; }
.rss_date {font-style: italic; padding: 2px 5px; color: #aaa;}
.rss_feed {padding: 2px 5px; color: #aaa;}
.rss_item {margin: 10px 0px; background-color: #f6f6f6; border: 1px solid #eee; padding: 5px;}
.rss_txt {padding: 5px; margin-top: 10px; line-height: 150%;}
