.size220 {width: 232px;}
.size230 {width: 230px;}
.size260 {width: 290px;}
.size110 {width: 110px;}
.size30 {width: 35px;}
.size70 {width: 70px;}
.size40 {width: 40px;}
.size50 {width: 50px;}
.size80 {width: 80px;}

.size120 {width: 120px;}
.size100 {width: 100px;}
.size140 {width: 140px;}
.size60 {width: 60px;}
