body {	margin: 0 auto;	padding: 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#333333; background:url(images/pagebg_login.jpg) no-repeat; background-color:#dad9d9; text-align: center;}


a:link {  font-family: arial, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
a:hover {  color: #FF5900; }
a:visited {  font-family: arial, sans-serif; font-size: 12px; color: #000000; text-decoration: none}
a:active {  font-family: arial, sans-serif; font-size: 12px; color: #FF5900; text-decoration: none}

.copyright {  font-family: "Lucida Grande", arial, sans-serif; font-size: 10px; color: #595959}
.body {  font-family: "Lucida Grande", arial, sans-serif; font-size: 13px; color: #000000}
.sectionheading {  font-family: "Lucida Grande", arial, sans-serif; font-size: 24px; font-weight: 400; color: #000000}
.heading {  font-family: "Lucida Grande", arial, sans-serif; font-size: 16px; font-weight: bold; color: #FF5900}
.bodylarger {  font-family: "Lucida Grande", arial, sans-serif; font-size: 14px; color: #000000}

th {background-color: #ccc; color: #000; padding: 5px 4px; font-weight: bold; font-size: 9pt;}
td.rows {border-bottom: 1px dotted #f0f0f0; padding: 1px;}

	#login_info {font-weight:bold;}
	#projects_list {position:absolute;
     			left: 50%; 
     			top: 50%;
     			width: 600px;
     			/*height: 200px;*/
     			margin-top: -80px; /* half of the height */
     			margin-left: -300px; /* half of the width */
				background-color: transparent;
				text-align:center;
				}
	#list {border-left:1px solid #b2b2b2;
			border-right:1px solid #b2b2b2;
			border-top:1px solid #b2b2b2;
			}
	#projects_list th{ background-color:#b2b2b2; color:#FFFFFF; height:20px; text-align:left; vertical-align:middle; padding-left:10px; font-weight:lighter;}
	#projects_list td{ background-color:#ffffff; border-bottom:1px solid #cccccc; height:30px; padding-left:10px; text-align:left;}
	#projects_paging {width:780px;background-color: transparent;}
	#projects_paging td {background-color: transparent;text-align:center;border:none;}
	#digitalstudio_logo {position:absolute; left:0px; top:0px;}
	#projects_inkbg {position:absolute; right:0px; top:60px;}
	#projects_menu{position:absolute; left:0; top:170px;}
	#projects_searchbox{position:absolute; left:240px; top:170px;}
	.onpage{
		border-bottom:1px solid #000000;
		color:#b2b2b2;
	}