<!-- START BLOCK : RECDETAIL -->
	<div class="recipe">
      <div class="bookmark" style="margin:8px 0 0 0;">&nbsp;</div>
        <div class="recipetitle"><span class="greentitle14"><strong>RECIPE</strong>:</span> <span class="orangetitle14">{Name}</span></div>
        <div class="recipetn" style=" float:left; margin-left:2px; vertical-align: top; text-align: left;">
        <img src="{Image}" width="142" height="83" border="0">        

        <p class="recipesub">Ingredients</p>
        <p> {Ingredients} </p>
          
           <p class="recipesub" style="padding-top:2em">Directions</p>
			{Directions}
	  </div>
<!-- END BLOCK : RECDETAIL -->
</div>